/* IMAGES */
.thumb {
  margin-bottom: 30px;
}

.thumbnail {
  height: auto !important;
}

.thumbnail > img, .thumbnail a > img {
  width: 400px;
  height: 300px;
}

.inner-navbar{
  background: black;
  height: 60px;
}

.inner-row{
  margin-left: 0px;
  margin-right: 0px;
}

/* DASHBOARD */

.close-session{
  color: $white;
  font-size:0.6em;
}

/*NG-DIALOGS*/

.ngdialog.ngdialog-dashboard .ngdialog-content {
  width: 100% !important;
  position:absolute !important;
  top:0px !important;
  bottom: 0px;
}

.ngdialog-label{
  color: $white;
}

.ngdialog-upload-container{
  margin-top:100px;
}

.ngdialog-image-container{
  margin-top:30px;
}

.ngdialog-video-container{
  margin-top:30px;
}

.ngdialog-musik-container{
  margin-top:30px;
}

.no-bottom-form{
  margin-bottom: 0px;
}

.ngdialog-input-form{
  height:34px !important;
  font-size: 1em !important;
}

.ngdialog-submit-form{
  width:80%;
  margin: 0 auto;
}
