<style>

</style>

<div class="inner-navbar">
  <div class="row inner-row">
    <div class="col-lg-12">
      <button type="button" ng-click="toggleSidebar()" class="navbar-toggle sidebar-toggle" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar sidebar-toggle-icon"></span>
        <span class="icon-bar sidebar-toggle-icon"></span>
        <span class="icon-bar sidebar-toggle-icon"></span>
      </button>
      <h3 class="show-table">
        <span class="show-cell text-right close-session hand" ng-click="closeSession()">Cerrar Sesion</span>
      </h3>
    </div>
  </div>
</div>

<div class="dashboard-body">

  <div class="row inner-row">
    <div class="col-lg-12">
      <h3 class="show-table">
        <span class="show-cell text-right">
          <button class="btn btn-danger" ng-click="showUploadDialog()">Upload</button>
        </span>
      </h3>
    </div>
  </div>

  <div class="row inner-row">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="https://inutilidadeutil.files.wordpress.com/2011/03/4709271160_ba04156d4b_b.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="http://24.media.tumblr.com/tumblr_m4g99v4KwI1rwvrl8o1_500.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="http://41.media.tumblr.com/bf2587ffea00953d544aa37737d1301b/tumblr_mre3j3fLPm1qghwxto1_500.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="https://38.media.tumblr.com/tumblr_m7n1s2Aftx1rsbxiio1_500.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="http://40.media.tumblr.com/c24a46c983fde9253393bbd091bc32cf/tumblr_mzdnemSCGz1qdzaxuo1_500.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="http://static.tumblr.com/f73ac8aa092d7a5779b421784eb5a385/mzuky7n/vv1mwndoq/tumblr_static_tumblr_lj5o0zlex41qie5uao1_500.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="http://40.media.tumblr.com/32a816073c5ec648296b6047a1514916/tumblr_mjo6emgbc31r9lvzwo8_500.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="http://www.adweek.com/files/imagecache/node-blog/2015_Dec/old-navy-tumblr.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="http://1.bp.blogspot.com/-yRGQYEPcksM/Vi25AKbOC1I/AAAAAAAACXo/0aOqpg0Mr9w/s1600/fondos_goticos_003.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="http://www.ediciona.com/portafolio/image/1/5/0/9/pinochofin_9051.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="https://secure.static.tumblr.com/923256de913071ba8804e84e2b9466cb/7xw0dig/o5Dnaizvq/tumblr_static_tumblr_static_9orer3cubcw0s8kckswggg4ko_640.jpg" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="#">
        <img class="img-responsive" src="http://static.tumblr.com/5287ba16a8f944482dc45f33062f2341/jqkwrl1/6JWndee3h/tumblr_static_68wm8fbq4tgk0w0ogwgoc0wo4.jpg" alt="">
      </a>
    </div>
  </div>


</div>
