<div class="container ngdialog-musik-container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="show-table">
          <span class="show-cell label-centered ngdialog-label">
            Video
          </span>
      </h3>
    </div>
  </div>

  <div class="row smart-row-y bottom-zero">
    <div class="col-lg-12 col-left btn-options">
      <div class="col-md-4 col-right button-bottom">
        <button class="btn btn-block btn-danger full-col" ng-click="uploadImages()">first buttn</button>
      </div>
      <div class="col-md-4 col-right button-bottom">
        <button class="btn btn-block btn-danger full-col" ng-click="uploadVideo()">secondnd buttn</button>
      </div>
      <div class="col-md-4 col-right button-bottom">
        <button class="btn btn-block btn-danger full-col" ng-click="uploadMusik()">secondnd buttn</button>
      </div>
    </div>
  </div>



