<div class="container ngdialog-upload-container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="show-table">
          <span class="show-cell label-centered ngdialog-label">
            Que piezas desea subir?
          </span>
        </h3>
      </div>
    </div>

    <div class="row smart-row-y bottom-zero">
      <div class="col-lg-12 col-left btn-options">
        <div class="col-md-4 col-right button-bottom">
          <button class="btn btn-block btn-danger full-col" ng-click="uploadImages()">Imagenes</button>
        </div>
        <div class="col-md-4 col-right button-bottom">
          <button class="btn btn-block btn-danger full-col" ng-click="uploadVideo()">Video</button>
        </div>
        <div class="col-md-4 col-right button-bottom">
          <button class="btn btn-block btn-danger full-col" ng-click="uploadMusik()">Audio</button>
        </div>
      </div>
    </div>

</div>


