.menu-height{
  height: $header-height;
}

.menu-color{
  background:#ffffff;;
}

.navbar{
  margin: 0px !important;
}
.navbar-button-mobile{
  margin-top:28px;
}

.left-navbar-link{
  font-size: 1.8em;
  font-weight: 700;
  margin-top: 18px;
  color: $black !important;
}

.right-navbar-link{
  font-size: 1.2em;
  margin-top: 20px;
  &.log-in-color{
    color: $black !important;
  }

  &.register-color{
    color: $red-pink !important;
  }
}


