<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid menu-color">
    <!--header section -->
    <div class="navbar-header menu-height menu-color">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand left-navbar-link" href="#">{{brand}}</a>
    </div>
    <!-- menu section -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="right-navbar-link log-in-color" href="#" >Ingresar</a></li>
        <li><a class="right-navbar-link register-color" href="#">Regístrate</a></li>
      </ul>
    </div>
  </div>
</nav>
