<div class="container">

    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <h2>Datos de la agencia</h2>
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <input ng-model="user.company" type="text" id="inputEmail" class="form-control" placeholder="Empresa o Profesional participante." required>
            <div class="form-group">
                <textarea ng-model="user.companyDescription" class="form-control" rows="5" id="comment" placeholder="Descripción de la empresa"></textarea>
            </div>
            <input ng-model="user.managerName" type="text" id="inputEmail" class="form-control" placeholder="Nomre del Gernete General / Director" required>

            <div class="row">
                <div class="col-sm-5 col-md-6">
                    <input ng-model="user.category" type="text" id="inputEmail" class="form-control" placeholder="Rubro" required>
                </div>
                <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">
                    <input ng-model="user.office" type="password" id="inputPassword" class="form-control" placeholder="Oficina central" required>
                </div>
            </div>
        </form><!-- /form -->
        <div class="row">
            <button style="margin-left: 45% !important;" type="button" class="btn btn-danger btn-circle btn-xl" ng-click="saveUserDetails()"><i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </div><!-- /card-container -->

</div>