html{
  height:100%;
}
body{
  height:100%;
}

/* Structure */
$header-height: 90px;
$sidebar-width: 220px;

.main-container{
  overflow: hidden;
  position: absolute;
  background: #D0D0D0 ;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-container{
  z-index: 10;
  top: 0;
  position: absolute;
  width: 100%;
}


$effect-time: 0.5s;
$effect-timing: ease-in-out;
.sidebar {
   z-index: 9;
   position: absolute;
   top: $header-height;
   width: 0px;
   bottom: 0px;
   background: black;
   overflow: hidden;


   -webkit-transition: width $effect-time;
   -moz-transition:  width $effect-time;
   -o-transition:  width $effect-time;
   -ms-transition:  width $effect-time;
   transition:  width $effect-time;
   -webkit-transition-timing-function: $effect-timing;
   -moz-transition-timing-function: $effect-timing;
   -o-transition-timing-function: $effect-timing;
   -ms-transition-timing-function: $effect-timing;
   transition-timing-function: $effect-timing;

   ul li {
     white-space: nowrap;
   }

   .main-container.expanded & {
     width: $sidebar-width;
   }
 }

.sidebar-no-navbar{
  top: 0;
}

.ui-view-container{
  position: absolute;
  top: $header-height;
  bottom: 0px;
  left: 0px;
  right: 0px;
  //width: 100%;
  overflow-y: auto;

  -webkit-transition: left $effect-time;
  -moz-transition:  left $effect-time;
  -o-transition:  left $effect-time;
  -ms-transition:  left $effect-time;
  transition:  left $effect-time;
  -webkit-transition-timing-function: $effect-timing;
  -moz-transition-timing-function: $effect-timing;
  -o-transition-timing-function: $effect-timing;
  -ms-transition-timing-function: $effect-timing;
  transition-timing-function: $effect-timing;

  .main-container.expanded & {
    left: $sidebar-width;
  }
}

.ui-view-container-no-navbar{
  top: 0;
}

.container{
  margin-top:50px;
  width: 90%;
}

.ngdialog-overlay{
  background: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 768px) and (orientation:portrait) {

  .main-container.expanded {
    .sidebar {

    }
    .ui-view-container {
      left: 0px;
    }
  }
}


