textarea{
  resize: none;
  font-size: 16px !important;
}

input [type=text]{
  direction: ltr !important;
  height: 44px !important;
  font-size: 16px !important;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button{

}