$placeholder-color : 	#707070;

textarea{
  resize: none;
  font-size: 0.9em !important;
  font-family: 'gotham-rnd-ligth';
  @include placeholder-textarea($placeholder-color);
}

.form-signin{
input[type=email],
input[type=password],
input[type=text],{
    direction: ltr;
    height: 44px;
    font-size: 16px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.form-input input[type=email],
input[type=password],
input[type=text]{
  direction: ltr;
  height: 44px;
  font-size: 0.9em !important;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'gotham-rnd-ligth';
  border-radius: 6px;
  color: #202020 ;
  @include placeholder($placeholder-color);
}

button{

}

/* ngDialog */

.ngdialog.ngdialog-transparent .ngdialog-content {
  background: rgba(0,0,0,0) !important;
}
