/*Fonts*/

@font-face {
  font-family: 'gotham-xlight';
  src: url("main/fonts/dashboard/Gotham-XLightItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-rnd-ltla';
  src: url("main/fonts/dashboard/GothamRnd-MedIta_0.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
