/*Transitions*/

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder{
    color: $color;
  }
  &::-moz-placeholder{
    color: $color;
  }
  &:-ms-input-placeholder{
    color: $color;
  }
}

@mixin placeholder-textarea($color2) {
  &::-webkit-input-placeholder {
    color: $color2 !important;
  }
  &:-moz-placeholder{
    color: $color2 !important;
  }
  &::-moz-placeholder{
    color: $color2 !important;
  }
  &:-ms-input-placeholder{
    color: $color2 !important;
  }
}
