<div class="container ngdialog-image-container" >
    <div class="row">
        <div class="col-lg-12">
            <h3 class="show-table">
          <span class="show-cell label-centered ngdialog-label">
            Image
          </span>
            </h3>
        </div>
    </div>

    <div class="row">
        <form class="form-horizontal form-input" role="form">
            <div class="form-group no-bottom-form">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-centered">
                    <input ng-model="image.title" type="text" class="form-control ngdialog-input-form" placeholder="Titulo" required>
                </div>
            </div>

            <div class="form-group no-bottom-form">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-centered">
                    <input ng-model="image.image" type="text" class="form-control ngdialog-input-form" placeholder="Copiar URL de Video - VIMEO" required>
                </div>
            </div>
            <div class="form-group no-bottom-form">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-centered">
                    <input ng-model="image.emision" type="text" class="form-control ngdialog-input-form" placeholder="Emision o implementacion" required>
                </div>
            </div>
            <div class="form-group no-bottom-form">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-centered">
                    <input ng-model="image.campaign" type="text" class="form-control ngdialog-input-form" placeholder="Alcance de la campaña" required>
                </div>
            </div>
            <div class="form-group no-bottom-form">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-centered">
                    <input ng-model="image.agency" type="text" class="form-control ngdialog-input-form" placeholder="Agencia" required>
                </div>
            </div>
            <div class="form-group no-bottom-form">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-centered">
                    <input ng-model="image.announcer" type="text" class="form-control ngdialog-input-form" placeholder="Anunciante" required>
                </div>
            </div>
            <div class="form-group no-bottom-form">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-centered">
                    <input ng-model="image.creativeDirector" type="text" class="form-control ngdialog-input-form" placeholder="Director general creativo" required>
                </div>
            </div>
            <div class="form-group no-bottom-form">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-centered">
                    <input ng-model="image.artDirector" type="text" class="form-control ngdialog-input-form" placeholder="Director de arte" required>
                </div>
            </div>
            <div class="form-group no-bottom-form">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-centered">
                    <input ng-model="image.designer" type="text" class="form-control ngdialog-input-form" placeholder="Diseñador" required>
                </div>
            </div>
            <div class="form-group no-bottom-form">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-centered">
                    <input ng-model="image.production" type="text" class="form-control ngdialog-input-form" placeholder="Produccion" required>
                </div>
            </div>
            <div class="form-group no-bottom-form">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-centered">
                    <input ng-model="image.illustration" type="text" class="form-control ngdialog-input-form" placeholder="Ilustracion" required>
                </div>
            </div>
            <div class="form-group no-bottom-form">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-centered">
                    <input ng-model="image.redactor" type="text" class="form-control ngdialog-input-form" placeholder="Redactor" required>
                </div>
            </div>
            <div class="form-group no-bottom-form">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-centered">
                    <input ng-model="image.responsible" type="text" class="form-control ngdialog-input-form" placeholder="Responsable de cuenta" required>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 col-centered">
                <button class="btn btn-block btn-danger full-col ngdialog-submit-form" ng-click="saveImage()">Subir Imagen</button >
            </div>
        </form>
    </div>
</div>




