<!--<ul class=" list-group">-->
  <!--<li class="abc list-group-item">First item</li>-->
  <!--<li class="list-group-item">Second item</li>-->
  <!--<li class="list-group-item">Third item</li>-->
<!--</ul>-->

<div class="sidebar-container">
  <div class="sidebar-header show-table">
      <div class="sidebar-header-image">
          <img id="profile-img" style="" class="profile-img-card sidebar-image" src="https://pbs.twimg.com/profile_images/470882849885667329/X48adYnt.jpeg" />
      </div>
      <div class="sidebar-header-text">
          <h4 class="sidebar-title">Nombre de la agencia asdasdasdasd asasdasd</h4>
      </div>
  </div>
  <div class="sidebar-body">
    <!--<ul class=" list-group">-->
      <!--<li class="list-group-item">First item</li>-->
      <!--<li class="list-group-item">Second item</li>-->
      <!--<li class="list-group-item">Third item</li>-->
      <!--<li class="list-group-item">Third item</li>-->
      <!--<li class="list-group-item">Third item</li>-->
      <!--<li class="list-group-item">LastX item</li>-->
      <!--<li class="list-group-item">LastY item</li>-->
      <!--<li class="list-group-item">LastZ item</li>-->
    <!--</ul>-->


      <ul class="list-group">
          <li class="list-group-item">
              <span>HISTORIAL</span>
              <ul class="list-group inner">
                  <li class="list-group-item">Informacion General</li>
                  <li class="list-group-item">Categorias</li>
                  <li class="list-group-item">Pagos</li>
              </ul>
          </li>
          <li class="list-group-item">
              <span style="font-weight: bold;">TUS PIEZAS</span>
              <ul class="list-group inner">
                  <li class="list-group-item">Imágenes</li>
                  <li class="list-group-item">Videos</li>
                  <li class="list-group-item">Audio</li>
              </ul>
          </li>
       </ul>
  </div>
</div>
