<!--<ul class=" list-group">-->
  <!--<li class="abc list-group-item">First item</li>-->
  <!--<li class="list-group-item">Second item</li>-->
  <!--<li class="list-group-item">Third item</li>-->
<!--</ul>-->

<div class="sidebar-container" style="height:80%">
  <div class="sidebar-header">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
  </div>
  <div class="sidebar-body">
    <ul class=" list-group">
      <li class="abc list-group-item">First item</li>
      <li class="list-group-item">Second item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Third item</li>
      <li class="list-group-item">Last item</li>
      <li class="list-group-item">Last item</li>
      <li class="list-group-item">Last item</li>
      <li class="list-group-item">Last item</li>
      <li class="list-group-item">LastX item</li>
    </ul>
  </div>
</div>
